<h1>Edit User</h1>

<ng-form name="editUserForm" class="col-xs-6">
    <div class="form-group">
        <label for="firstName">firstName</label>
        <input id="firstName" class="form-control" name="firstName" value="{{$ctrl.user.firstName}}" ng-model="$ctrl.user.firstName" required></input>
    </div>

    <div class="form-group">
        <label for="lastName">lastName</label>
        <input id="lastName" class="form-control" name="lastName" value="{{$ctrl.user.lastName}}" ng-model="$ctrl.user.lastName" required></input>
    </div>

    <div class="form-group">
        <label for="userName">userName</label>
        <input id="userName" class="form-control" name="username" value="{{$ctrl.user.username}}" ng-model="$ctrl.user.username" required></input>
    </div>

    <div class="form-group">
        <label for="age">Age</label>
        <input id="age" class="form-control" name="age" value="{{$ctrl.user.age}}" ng-model="$ctrl.user.age" required></input>
    </div>

    <div class="form-group">
        <label for="job">job</label>
        <input id="job" class="form-control" name="job" value="{{$ctrl.user.job}}" ng-model="$ctrl.user.job"
            required> </input>
    </div>
    <div>{{$ctrl.currentUser.role}}</div>
    <div ng-if="$ctrl.currentUser.role == 'Admin' || $ctrl.currentUser.role == 'Unit-Manager'">
        <button class="btn btn-primary" ng-disabled="editUserForm.$invalid" ng-click="$ctrl.saveUserDetails($ctrl.user)">Save</button>
        <button class="btn btn-default" ng-click="$ctrl.cancelEditUser()">Cancel</button>
    </div>
</ng-form>