<div class="col-xs-12">
    <h1>Detail page</h1>
    <hr/>
    <div class="col-xs-12">Name : {{$ctrl.user.name}}</div>
    <div class="col-xs-12">Age : {{$ctrl.user.age}}</div>
    <div class="col-xs-12">Occupation : {{$ctrl.user.occupation}}</div>

    <hr/>

    <button class="edit btn btn-default" ng-click="$ctrl.editUser()">Edit</button>
    <button class='remove btn btn-danger' ng-click="$ctrl.removeUser()">Remove</button>
    <button class='save btn btn-primary' ng-click="$ctrl.saveUser()">Save</button>


</div>