<div class="col-xs-12">
    <h1>Detail page</h1>
    <hr>
    <div class="col-xs-12">UserName : {{$ctrl.userDetails.username}}</div>
    <div class="col-xs-12">Age : {{$ctrl.userDetails.age}}</div>
    <div class="col-xs-12">Job : {{$ctrl.userDetails.job}}</div>
        <div class="col-xs-12">FirstName : {{$ctrl.userDetails.firstName}}</div>
    <div class="col-xs-12">LastName : {{$ctrl.userDetails.lastName}}</div>
    <div class="col-xs-12">Company : {{$ctrl.userDetails.company.name}}</div>

    <div class="col-xs-12" style="height:50px;"></div>

    <button class="edit btn btn-default" ng-click="$ctrl.editUser()">Edit</button>
    <button class='remove btn btn-danger' ng-click="$ctrl.removeUser()">Remove</button>
</div>